:root {
  --dark-mode-elements: hsl(209, 23%, 25%);
  --dark-mode-bg: hsl(207, 26%, 17%);
  --light-mode-elements: #fff;
  --light-mode-bg: hsl(0, 0%, 98%);
}
.app {
  background-color: var(--light-mode-bg);
  min-height: 100vh;
  height: 100%;
}
.app.darkMode {
  background-color: var(--dark-mode-bg);
  color: white;
}
.app_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
}
.header {
  padding: 15px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.app.adrkMode {
  background-color: var(--dark-mode-bg);
  color: white;
}
.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
}
.header.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}
.switch_mode {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  cursor: pointer;
  user-select: none;
}
.inputs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.search_input {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 5px;
  border-radius: 5px;
  gap: 5px;
}

.search_input.darkMode{
background-color: var(--dark-mode-elements);
color: white;
}

/* .search_input.darkMode{
  background-color: var(--dark-mode-elements);
  color: white;
  } */
.search_input.darkMode input{
color: white;
}
.search_input input {
  border: 0;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}
.select_region {
  width: 300px;
  background-color: white;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 5px;
  border-radius: 5px;
}

.select_region select {
  padding: 5px;
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
}

.select_region.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}
.select_region.darkMode select {
  color: white;
}
.select_region.darkMode option {
  background-color: var(--dark-mode-elements);
  color: white;
}
.search_input.darkMode input::placeholder {
  color: white;
}

.countries {
  max-width: 1400px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}
.country {
  background-color: white;
  width: 305px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 370px;
  cursor: pointer;
}
.country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}
.country .flag_container {
  height: 170px;
  width: 100%;
}
.country .flag_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}
.country .name {
  margin-bottom: 10px;
}
.country .values {
  color: gray;
}
.country .values.darkMode {
  color: lightgray;
}
.country .details {
  padding: 15px;
}
.country .details p {
  margin-bottom: 5px;
}
.country_details {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  min-height: 100vh;
}
.back {
  background-color: white;
  border: 0;
  outline: 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
}
.back.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}
.country_details_body {
  margin: 15px auto 0;
  padding: 15px;
  max-width: 1400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.img_continer {
  flex: 0.5;
}
.img_continer img {
  width: 100%;
  object-fit: cover;
}
.info {
  flex: 0.5;
}
.info.darkMode {
  color: white;
}
.info_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 45px;
}
.info h2 {
  margin-bottom: 15px;
}
.info .values {
  color: gray;
}
.info .values.darkMode {
  color: lightgray;
}
.border_country {
  padding: 5px 10px;
  background-color: white;
  display: inline-block;
  margin: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}
.border_country.darkMode {
  background-color: var(--dark-mode-elements);
  color: white;
}

@media (max-width: 800px) {
  .country_deetails_body {
    flex-direction: column;
  }
  .info_container {
    flex-direction: column;
    align-items: flex-start;
  }
  .left_info{
    margin-bottom: 20px;
  }
}
@media (max-width:720px) {
  .inputs{
    flex-direction: column;
    margin-bottom: 15px;
  }
  .search_input{
    margin-bottom: 20px;
    flex: 0.5;
    justify-content: flex-end;
  }
  .logo{
    flex: 0.5;
    font-size: 17px;
  }
}
